

    <div class="container">

      <div class="starter-template">
        <h1>Welcome To Open Cinema</h1>
        <p class="lead">We are an award-winning network of community cinemas across the UK and Ireland. We've secured seed investment to build a prototype digital platform to take cinema into the 21st century!</p>
      </div>

    </div><!-- /.container -->


<div class="container">

  
    <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
             <!--<img src="..." alt="...">-->
             <%= image_tag('header-image.jpg') %>
           <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        
        <p><%= form_tag charges_path, id: "chargeForm" do %>
            <script src="https://checkout.stripe.com/checkout.js"></script>
                 <%= hidden_field_tag 'stripeToken' %>
                 <%= hidden_field_tag 'stripeEmail' %>
                  
                 <button id="btn-buy" type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span> I want this!</button>
             <script>


             var handler = StripeCheckout.configure({
      key: '<%= Rails.configuration.stripe[:publishable_key] %>',
      token: function(token, arg) {
        document.getElementById("stripeToken").value = token.id;
        document.getElementById("stripeEmail").value = token.email;
        document.getElementById("chargeForm").submit();
      }
    });
     document.getElementById('btn-buy').addEventListener('click', function(e) {
      handler.open({
        name: 'Open Cinema',
        description: 'Open Cinema Movie Night (Free)',
        amount: 000
    });
    e.preventDefault();
   })
  </script>
<% end %>

    
      </div>
    </div>
  </div>
        
    </div>
  
  <div class="row">
        <div class="col-lg-12">
        <br><br>
          <p class="pull-right"><a href="http://www.opencinema.net">Open Cinema</a> &nbsp; ©Copyright 2015<sup>TM</sup></p>
        <br><br>
        </div>
    </div>
</div>





